.carousel-inner .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#productImageArea img {
    position: absolute;
    top: 0;
}

#selectedCubierta {
    z-index: 1; /* Cubierta debe estar detrás de las patas */
}

#selectedPatas {
    z-index: 2;
}
