<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Crea tu Escritorio</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Noto+Sans:ital,wght@1,200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Manrope&family=Noto+Sans:ital,wght@1,200&display=swap" rel="stylesheet">
    <style>
        .image-option { cursor: pointer; }
        #desk-builder { position: relative; }
        .desk-image { display: block; width: 100%; position: relative; z-index: 2; margin-top: -200px;}
        .leg-wrapper { display: flex; margin-top: -390px; } /* si bajo mas el valor, mas baja la cubierta */
        .leg-image { display: block; width: 30%; position: relative; z-index: 1; left: 20%;}
        .leg-image.right { transform: scale(1.3); z-index: 1; margin-top: 60px;}

        .carousel-inner img {
            max-height: 90%x;
            width: auto;
            margin: auto;
        }
        .carousel {
            max-width: 40%;
            margin: auto;
        }
        *{
            font-family: 'Manrope', sans-serif;
        }
        .carousel-control-next-icon, .carousel-control-prev-icon {
            filter: invert(100%);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #BC8064;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: white; font-size: 2rem; font-family: 'Ephesis', cursive;">De madera</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/cotizar" style="color: white; font-size: 1rem;">Cotizar</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white; font-size: 1rem;">Nuestros clientes</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white; font-size: 1rem;">Quienes somos</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white; font-size: 1rem;">Ubicación</a>
                    </li>
                </ul>
            </div>
        </div>
      </nav>
      <!-- Inicio imagen izquierda y separador derecha -->
      <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Agregar img aca -->
            </div>
            <div>
                <body>
                    <div class="container">
                        <h1 class="text-center my-4">Crea tu Escritorio agregar campo de dimensiones de tabla y el boton siguiente para hacer la "boleta"</h1>
                        <!-- Carrusel para las cubiertas -->
                        <h3>Selecciona la Cubierta</h3>
                        <div id="deskCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for desk in desks %}
                                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                    <img src="{{ desk.image.url }}" class="d-block w-100 image-option" onclick="selectDesk('{{ desk.name }}', '{{ desk.price }}', '{{ desk.image.url }}')">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#deskCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#deskCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                
                        <!-- Carrusel para las bases -->
                        <h3>Selecciona las Bases</h3>
                        <div id="legCarousel" class="carousel slide" data-ride="carousel" style="position: relative; z-index: 3;">
                            <div class="carousel-inner">
                                {% for leg in legs %}
                                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                    <img src="{{ leg.image.url }}" class="d-block w-100 image-option" onclick="selectLeg('{{ leg.name }}', '{{ leg.price }}', '{{ leg.image.url }}')">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#legCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#legCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                        <div class="row my-4">
                            <div class="col-md-12">
                                <h3>Tu Selección</h3>
                                <div id="desk-builder">
                                    <div id="selected-desk"></div>
                                    <div id="selected-legs"></div> 
                                </div>
                                <h4 class="mt-3">Precio Total: <span id="total-price">$0</span></h4>
                            </div>
                        </div>
                    </div>
                    <form class="form-group" style="position: relative; z-index: 3;">
                        <div>
                            <label for="exampleInputEmail">Correo Electronico</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Ej: Ingresa@email.com">
                        </div>
                        <div>
                            <label for="exampleInputName">Nombre y apellido</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Ej: Juan Perez">
                        </div>
                        <div>
                            <label for="exampleInputdireccion">Direccion</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Ej: Tu direccion #111">
                        </div>
                        <div>
                            <button  type="button" class="btn btn-warning" style="margin-top: 20px;" id="pdf-button">Generar PDF</button>
                        </div>
                        
                    </form>
                
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
                    <script>
                        const jsPDF = window.jspdf.jsPDF;
                        var totalPrice = 0;
                        var deskPrice = 0;
                        var legPrice = 0;

                        var selectedTop = null;
                        var selectedLegs = null;
                
                        function selectDesk(name, price, imageUrl) {
                            deskPrice = parseFloat(price);
                            selectedTop = name
                            $('#selected-desk').html(`<img src="${imageUrl}" class="desk-image">`);
                            updateTotalPrice();
                        }
                
                        function selectLeg(name, price, imageUrl) {
                            legPrice = parseFloat(price) * 2;
                            selectedLegs = name
                            $('#selected-legs').html(`
                                <div class="leg-wrapper">
                                    <img src="${imageUrl}" class="leg-image left">
                                    <img src="${imageUrl}" class="leg-image right">
                                </div>
                            `);
                            updateTotalPrice();
                        }
                
                        function updateTotalPrice() {
                            totalPrice = deskPrice + legPrice;
                            $('#total-price').text(`$${totalPrice.toFixed(2)}`);
                        }

                        function generatePDF() {
                            let email = document.getElementById('email').value; 
                            let name = document.getElementById('name').value;
                            let address = document.getElementById('address').value;

                            let doc = new jsPDF();

                            doc.setFontSize(22);
                            doc.setTextColor(92, 76, 76);
                            doc.text(80, 10, 'DEMADERA');

                            doc.setFontSize(18);
                            doc.setTextColor(0, 0, 0);
                            doc.text(10, 30, 'Datos Cliente');
                            doc.setFontSize(16);
                            doc.setTextColor(92, 76, 76);
                            doc.text(10, 40, 'Email: ' + email);
                            doc.text(10, 50, 'Nombre: ' + name);
                            doc.text(10, 60, 'Direccion: ' + address); 

                            doc.setFontSize(18);
                            doc.setTextColor(0, 0, 0);
                            doc.text(10, 70, 'Datos Mueble');
                            doc.setFontSize(16);
                            doc.setTextColor(92, 76, 76);
                            doc.text(10, 80, 'Cubierta: ' + selectedTop + ' ($' + deskPrice + ')');
                            doc.text(10, 90, 'Bases: ' + selectedLegs + ' ($' + legPrice + ')');
                            doc.text(10, 100, 'Precio Total: ' + ' ($' + totalPrice + ')');

                            doc.save('form.pdf');
                        }

document.getElementById('pdf-button').addEventListener('click', generatePDF);

                    </script>
                    

                </body>
            </div>
        </div>
      </div>
</body>
</html>